table {
    border: solid 1px black;
    font: 10pt verdana;
    min-width: 50%;
}

table thead tr {
    background-color: #448;
    color: white;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

table thead tr th {
    padding: 10px 30px;
}

table tbody tr:nth-child(even)  {
    background-color: beige;
}

table tbody tr:hover  {
    background-color: aqua;
    cursor: pointer;
}

table tbody tr td {
    padding: 10px 30px;
    white-space: nowrap
}