body {
    margin: 0;
    padding: 0;
    border: 0;
}

div.header {
    margin: 0;
    padding: 10px;
    border: 0;
    background-color: red;
}

div.canvascontainer {
    color: white;
    background-color: blue;
    width: 100%;
}

canvas#myCanvas {
    background-color: beige;
}